<!DOCTYPE html>
<html lang="en">
  
  <head>
    <script type='text/javascript' src='http://www.freesurveycreator.com/embeds/332.js'></script>
  </head>

  <body>
    <div class="b-content">
      <div class="fr-container fr_header">
        <div class="fr-wf fr_top-heading">
          <div class="fr-text">
             <h1>thanksgiving</h1>

          </div>
        </div>
      </div>
      <div class="fr-container fr_middle-section">
        <div class="fr-wf fr_wefosi">
          <div class="fr-text" id='tidbits'>where we gonna do it?</div>
        </div>
        <div class="fr-wf fr_wefosi">
          <div class="fr-text" id='tidbits'>survey below</div>
        </div>
      </div>
      <div class="fr-container fr_white-section">
        <div class="fr-container fr_green-horizontal-rule"></div>
        </div>
      </div>
    </div>
    <div id="footer-assets">
      <script type="text/javascript">
        var fonts = {
          "PT Sans Caption": {
            "source": "google",
            "variants": [
                "700",
                "regular"
            ],
            "family": "PT Sans Caption",
            "subsets": [
                "cyrillic",
                "cyrillic-ext",
                "latin",
                "latin-ext"
            ]
          },
          "PT Sans": {
            "source": "google",
            "variants": [
                "700",
                "700italic",
                "italic",
                "regular"
            ],
            "family": "PT Sans",
            "subsets": [
                "cyrillic",
                "cyrillic-ext",
                "latin",
                "latin-ext"
            ]
          },
        };
      </script>
    </div>
  </body>
</html>
